[defaults]
host_key_checking = False
# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True
roles_path = ${PWD}/../../
callback_whitelist = timer, profile_tasks
interpreter_python = python3
